
.vs/api-auth/xs/project-cache/api-auth-Debug.json

api-auth/bin/Debug/net7.0/api-auth.dll

api-auth/bin/Debug/net7.0/api-auth.pdb

api-auth/obj/api-auth.csproj.nuget.dgspec.json

api-auth/obj/Debug/net7.0/api-auth.assets.cache

api-auth/obj/Debug/net7.0/api-auth.csproj.FileListAbsolute.txt

api-auth/obj/Debug/net7.0/api-auth.dll

api-auth/obj/Debug/net7.0/api-auth.GeneratedMSBuildEditorConfig.editorconfig

api-auth/obj/Debug/net7.0/api-auth.genruntimeconfig.cache

api-auth/obj/Debug/net7.0/api-auth.pdb

api-auth/obj/project.assets.json

api-auth/obj/project.nuget.cache

api-auth/plumbus.db
